body{
    font-family: Sans-Serif;
}
h2, h3 { display: inline;}
.grid { width: 450px; max-width: 450px; position: absolute}
#editor { position: absolute; left: 50%; }
#dialog {  
    position: absolute;
    left: 33%;
    top:40px;
    background-color: white;
    padding: 10px ;
    width: 400px;
    border-radius: 4px;
 }
#dialog_content {
    overflow: auto;
    max-height: 400px;
}
#dialog_content > ul {
    padding-left: 10px;
    margin: 0px;
}
#dialog_content > ul > li {
    list-style: none;
    padding-bottom: 5px;
    cursor: pointer;
}
#dialog_title { min-height: 30px;
                padding-bottom: 10px;
                font-size: 200%; }
#dialog_footer { min-height: 30px; 
                 padding-top: 10px;}
#dialog > p { padding: 2%; margin: 0}
#dialog > p:hover { background-color:darkgrey;}
#modal { position: fixed;
         top: 0;
         right: 0;
         bottom: 0;
         left: 0;
         z-index: 999;
	 background-color: rgba(100, 100, 100, 0.5); }
.cell, .cellUi { width: 150px;  height: 150px; position:absolute}
.cellUi > span{ position: relative; margin: 5px; float: right }
.hint { width: 148px;  height: 148px; position:absolute;border: 1px solid rgba(0,0,0,0);}
.visible-grid, .visible-cell{ border: 1px solid rgba(200, 200, 200, 0.5); }
.code_invalid { border: solid rgb(255, 0, 0); }
.code_valid { border: solid rgb(25, 125, 255); }
.invisible { display: none;}

.ace_editor { 
    position: relative;
    height: 600px;
    width: 700px;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color:  rgb(248, 248, 248);
    border: 1px solid rgb(185, 185, 185);
    background-image: none;
    border-radius: 4px;   
 }

.btn:hover{
    border: 1px solid rgb(165, 165, 165);
    background-color: rgb(222, 222, 222);
}